[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Kendall"]
	path = Kendall
	url = https://github.com/cran/Kendall
[submodule "artfima"]
	path = artfima
	url = https://github.com/cran/artfima
[submodule "ltsa"]
	path = ltsa
	url = https://github.com/cran/ltsa
[submodule "ptest"]
	path = ptest
	url = https://github.com/cran/ptest
